* {
  padding: 0px;
  margin: 0px;
}

html {
  padding: 0px;
  margin: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e2f0;  
  padding: 0 50px;
}

.box1 {
  background-color: blue;
  flex: 1 1 300px;
}

.box2 {
  background-color: aqua;
  flex: 1 1 300px;
}

.image-container {
  background-color: white;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 20px;
  
}

.image-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  max-width: 375px;
  height: auto;
}

.image-wrapper img {
  width: 100%;
  border-radius: 20px;
}

.image-explanation {
  max-width: 250px;
  margin-top: 30px;
}

.bold-text {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.normal-text {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
}


@media all and (max-width: 400px) {
  .main {
  }
}